:root {
  --amarillo: rgb(239, 160, 5);
   --verde: rgb(48, 79, 60);
      --black: #0c0d0d;
        --white: #e4dcd7;
           
      font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
}
*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #0c0d0d;
}

p{ 
  color: white;
  text-align: center;
}
h1, h2, h3 {
  color: white;
}